<%page expression_filter="h"/>
<%inherit file="main.html" />
<%!
from django.utils.translation import gettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.urls import reverse
%>

<section class="container activation">

  <section class="message">
    <h1 class="valid">${_("Thay đổi Email thành công!")}</h1>
    <hr class="horizontal-divider">

    <p>${Text(_('Bạn sẽ thấy địa chỉ email mới của mình tại {link_start}bảng điều khiển{link_end}.')).format(
        link_start=HTML('<a href="{url}">').format(url=reverse('dashboard')),
        link_end=HTML('</a>'),
      )}</p>
  </section>
</section>
