<%page expression_filter="h"/>
<%!
from django.utils.translation import gettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="sequence hidden-content proctored-exam completed">
    <h3>
        % if self_paced:
            ${_("Khóa học đã kết thúc.")}
        % else:
            ${_("Đã quá hạn chót để nộp bài tập này.")}
        % endif
    </h3>
    <hr>
    <p>
        % if self_paced:
            ${Text(_(
                "Vì khóa học đã kết thúc, bài tập này không còn khả dụng.{line_break}Nếu bạn đã hoàn thành bài tập này, điểm của bạn có thể xem trên {link_start}trang tiến độ{link_end}."
            )).format(
                line_break=HTML("<br>"),
                link_start=HTML("<a href='{}'>").format(progress_url),
                link_end=HTML("</a>"),
            )}
        % else:
            ${Text(_(
                "Vì đã quá hạn chót nộp bài, bài tập này không còn khả dụng.{line_break}Nếu bạn đã hoàn thành bài tập này trước đó, điểm số của bạn sẽ hiển thị tại {link_start}trang tiến độ học tập{link_end}."
            )).format(
                line_break=HTML("<br>"),
                link_start=HTML("<a href='{}'>").format(progress_url),
                link_end=HTML("</a>"),
            )}
        % endif
    </p>
</div>
