<%page expression_filter="h" />
<%inherit file="main.html" />
<%! from django.utils.translation import gettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<section class="container activation">

  <section class="message">
    <h1 class="invalid">${_("Mã xác nhận thay đổi email không hợp lệ")}</h1>
    <hr class="horizontal-divider">
    <p> ${_("Mã xác nhận email này không hợp lệ. Vui lòng kiểm tra các lý do sau:")}</p>
    <ul>
      <li>${_("Mã này đã được sử dụng rồi? Hãy kiểm tra xem email của bạn đã được thay đổi trước đó chưa.")}
      <li>${_("Dịch vụ email của bạn có làm ngắt đường dẫn (URL) thành hai dòng không?")}
      <li>${_("Mã xác nhận chỉ có hiệu lực trong một khoảng thời gian nhất định. Có thể mã này đã hết hạn?")}
    </ul>
    <p>${Text(_('Quay lại {link_start}trang chủ{link_end}.')).format(link_start=HTML('<a href="/">'), link_end=HTML('</a>'))}</p>
  </section>
</section>
