<%page expression_filter="h" />
<%!
from django.utils.translation import gettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%namespace name='static' file='static_content.html'/>

<section class="outside-app">
  <h1>
    ${Text(_("Đã xảy ra lỗi trên máy chủ của {platform_name}")).format(
        platform_name=HTML(u"<em>{}</em>").format(static.get_platform_name())
    )}
  </h1>
  <p>
    ${Text(_("Rất tiếc, mô-đun này hiện tạm thời không khả dụng. Đội ngũ kỹ thuật của chúng tôi đang nỗ lực khắc phục sự cố này trong thời gian sớm nhất. ")) }
  </p>

% if staff_access:
<h1>${_("Chi tiết lỗi")}</h1>

<p>${_("Lỗi:")}
<pre>
${error}
</pre>
</p>

<p>${_("Dữ liệu thô:")}

<pre>${data}</pre>
</p>

% endif
</section>
